body {
    background-color:black;
    font-family:arial;
    color:white; 
}
h1{color:gray; font-family:verdana;}


.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:25px;
    border-radius:25px;
}

.child{
    margin-left:16%
}

.center {
    margin: 0;
    position: absolute;
    left:0%;
    margin-left:15%
}

.right{
    margin:0;
    left:0%;
    margin-left:50%
}
